:root {
    --clr-white: #FFFFFF;
    --clr-red: #e91b24;
    --clr-blue: #02abeb;
    --clr-background: #000000;
    --font-size: 1.6rem;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    height: 100%;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-BdCn';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-BdCn.otf') format('opentype');
}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-VariableFont-wght.woff2') format('woff2');
    src: url('../fonts/RobotoCondensed-VariableFont-wght.woff') format('woff');
    font-weight: 100 900;
    font-stretch: 75% 125%;
}

body {
    font-family: 'HelveticaNeueLTStd-BdCn', Arial, sans-serif;
    background: var(--clr-background);
    color: var(--clr-white);
    font-size: var(--font-size);
    text-align: center;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
}

.container {
    padding: 1em;
}

.infobox {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 1rem;
}

h1 {
    margin-top: 2rem;
    font-size: 5rem;
}

#episodeInfo {
    margin: 1em 0em;
}

#episodeContent {
    font-size: 3rem;
    margin: 0;
}

#episodeImage {
    max-width: 30%;
    margin-bottom: 2em;
}

a {
    color: var(--clr-white);
    text-decoration: underline;
}

p {
    font-size: 1.4rem;
    margin-bottom: 1em;
}

.refresh-button {
    display: inline-flex;
    align-items: center;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    color: var(--clr-background);
    background: var(--clr-white);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.refresh-button:hover {
    background-color: var(--clr-red);
}

.refresh-button img {
    margin-right: -0.2em;
    width: auto; /* Ensure width is auto for responsive design */
    height: 30px; /* Specify the height of the SVG */
}

footer {
    font-family: RobotoCondensed, Arial, sans-serif;
    font-size: 0.75rem;
    max-width: 100%;
    background-color: var(--clr-background);
    color: var(--clr-white);
    padding: 1em;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {


    .container {
        padding: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    #episodeContent {
        font-size: 1.5rem;
    }

     #episodeInfo {
        margin-top: 2em;
    }

    #episodeImage {
        max-width: 100%;
    }

    .infobox {
        font-size: 0.9rem;
    }

    .refresh-button {
        font-size: 1rem;
        padding: 0.5em;
    }

    .refresh-button img {
        width: auto; /* Ensure width is auto for responsive design */
        height: 20px; /* Adjust height for mobile view */
    }

    footer {
        font-size: 0.6rem;
        padding: 0.5rem;
    }
}
